<!DOCTYPE html>
<html lang='en'>
<head>
    <link type='text/css' rel='stylesheet' href='css/global.css' rel='stylesheet'>

    <meta charset='UTF-8'>
    <title>Title</title>
    <script>

    </script>
</head>
<body>
<div class='block blue'>
    <form action='/test' method='get'>

        <input type='text' name='todo_entry'>

        <input type='submit' value='add a todo'>
    </form>
</div>
<br>
<br>
<div class='block green'>
    TO DO LIST <br>
    <hr>
    
        {% for entry in entry_list %}
    <form action='/delete' method='get'>
        <input type='submit' value='X'>
        {{ entry.content }}
               <input type="hidden" value='{{ entry.content }}' name="entry_to_delete">
           </form>
        {% endfor %}
    
</div>
</body>
</html>

<!--<form action='/remove' method='post'>-->
<!--{% for number in todo_list %}-->
<!--<input type='checkbox' name='number_to_delete' value='{{number}}'> {{ number }}<br>-->
<!--{% endfor %}-->
<!--<input type='submit' value='remove todo'>-->
<!--</form>-->
