.container {
    width: 100%;
    text-align: center;
}

.block {
    border-radius: 4px;
    vertical-align: top;
    border: 2px grey;
    margin-top: 10%;
    color: #fff;
    min-width: 25%;
    display: inline-block;
    text-align: left;
}

.title {
    border-radius: 4px 4px 0 0;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #4d90fe;

}

.red {
    background-color: whitesmoke;
    -webkit-appearance: none;

}

.logo {
    width: 50px;
    height: 50px;
}

input[type=text] {
    background-color: #4d90fe;
    width: 78%;
    height: 17px;
    color: white;
}

input[type=submit] {
    background-color: #4d90fe;
    width: 18%;
    height: 17px;
}

.entry {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.entry li:hover {
    color: silver;
    background-color: #4d90fe;
    left: .1em;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.enter-todo {
    display: block;
    width: 100%;
    min-height: 30px;
    padding-top: 50px;
}

li {
    list-style-type: none;
    text-shadow: 0px 1px 1px silver;
    color: #4d90fe;
}

.arrow {
    float: right;
    -webkit-appearance: none;
}

@media only screen and (max-width: 800px) {
    .block {
        border-radius: 4px;
        vertical-align: top;
        border: 1px grey;
        margin-top: 10%;
        color: white;
        width: 100%;
        display: inline-block;
        text-align: left;
    }
}

.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 98.5%;
    -webkit-appearance: none;

}

.footer {
    height: 100px;
    margin: auto;
    width: 400px;
    -webkit-appearance: none;

}
