.container {
    width: 100%;
    text-align: center;
}

.block {
    border-radius: 4px;
    vertical-align: top;
    border: 1px grey;
    margin-top: 10%;
    color: white;
    min-width: 25%;
    display: inline-block;
    text-align: left;
}

.title {
    border-radius: 4px 4px 0 0;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;

}

.title.red {
    background-color: lightcoral;
}

.red {
    background-color: indianred;
}

.block.blue {
    background-color: deepskyblue;
}

.logo {
    display: inline-block;
    width:50px;
    height:50px;
    position: fixed;
    bottom: 560px;
    right: 1000px;
}

input[type=checkbox] {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;

    border: double 2px #00F;

    background-color: #0b0095;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;

    width: 15px;
    height: 15px;
}

input[type=checkbox]:checked {
    background-color: #000;
    border-left-color: #06F;
    border-right-color: #06F;
}

input[type=text] {
    background-color: indianred;
    width: 70%;
}

input[type=submit] {
    background-color: palevioletred;
    width: 18%;
}

.entry {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.entry li:hover {
    color: grey;
    background-color: mediumspringgreen;
    left: .1em;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: hand;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.enter-todo {
    display: block;
    width: 100%;
    min-height: 30px;
    padding-top: 50px;
}

.row {
    display: block;
    width: 100%;
    padding: 10px;
}

li {
    list-style-type: none;
}
